<?xml version="1.0"?>
<launch>
    <!-- Arguments -->
    <arg name="name_space" default=""/>
    <arg name="output" default="log"/>

    <arg name="side" default="b"/> <!-- "b" = blue side, "r" = red side  -->
    <param name = "/side" value="$(arg side)"/>
    
    
    <!--Gasuta-->
    <include file="$(find burger_navigation)/launch/burger_navigation.launch" />
    <node pkg="burger_war" type="main.py" name="main" output="screen"/>
    <node pkg="burger_war" type="enemy_finder_lidar.py" name="enemy_finder_lidar" output="screen"/>
    <node pkg="burger_war" type="enemy_finder_camera.py" name="enemy_finder_camera" output="screen"/>
    <node pkg="burger_war" type="status.py" name="status" output="screen" />

</launch>

